.App {
  max-width: 600px;
  margin: 30px auto;
}

.App footer {
  font-size: 11px;
  margin: 10px 0;
  color: #407088;
}

.App footer link {
  text-decoration: none;
}

.App .footerLink {
  text-decoration: none;
  color: #407088;
  font-weight: bold;
}
